// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------
[id="wrapper"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $base-background-color;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: $max-width-center-container;
    padding: $padding-container;
    margin: 0 auto;
}