// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site
// -----------------------------------------------------------------------------
[id="header"] {
    position: relative;
    background: $gray;
    padding: 20px 0;
    z-index: 2;
}

.header-holder {
    display: flex;
}

.logo {
    width: 100px;
    min-width: 100px;
    margin-right: 20px;
}

[id="nav"] {
    @extend %clearfix;

    flex-grow: 1;
}

.nav-drop {
    @include animate(all);

    background: $gray;
    color: $black;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 10px 15px;
    opacity: 0;
    visibility: hidden;

    @include media('≥tablet') {
        padding: 0;
        position: static;
        opacity: 1;
        visibility: visible;
    }

    .nav-active & {
        opacity: 1;
        visibility: visible;
    }

    ul {
        @extend %listreset;
    }

    >ul {

        @include media('≥tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    li {
        position: relative;
        list-style: none;

        +li {

            @include media('≥tablet') {
                padding-left: 20px;
            }
        }

        &.active {
            a {
                opacity: 0.5;
            }
        }

        &:hover {
            >a {
                opacity: 0.5;
            }

            >ul {
                display: block;
            }
        }

        >ul {
            background: $gray;
            display: none;
            width: 100%;
            top: 100%;
            left: 0;
            z-index: 2;

            @include media('≥tablet') {
                padding-top: 10px;
                width: 120px;
                position: absolute;
            }

            ul {
                @include media('≥tablet') {
                    padding-top: 0;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    width: 120px;
                }
            }

            li {
                padding: 0 10px;
            }
        }
    }

    a {
        color: inherit;
    }
}

.nav-opener {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    float: right;

    @include media('≥tablet') {
        display: none;
    }

    &:before,
    &:after,
    span {
        @include animate(transform opacity);
        background: $black;
        position: absolute;
        top: 50%;
        left: 15%;
        right: 15%;
        height: 3px;
        transform: translateY(-50%);
    }

    &:before,
    &:after {
        content: '';
    }

    &:before {
        transform: translateY(-9px);
    }

    &:after {
        transform: translateY(6px);
    }

    &:hover {
        &:before,
        &:after,
        span {
            background-color: gray;
        }
    }

    .nav-active & {
        span {
            opacity: 0;
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(45deg) translateY(0);
        }

        &:after {
            transform: rotate(-45deg) translateY(0);
        }
    }
}
