.comments-area
  h2.comments-title 19 thoughts on “Template: Comments”
  ol.comment-list
    li.comment.even.thread-even
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#') John Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2012-09-03T10:18:04+00:00') September 3, 2012 at 10:18 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          h2 Definition Lists
          dl
            dt Definition List Title
            dd Definition list division.
            dt Startup
            dd
              | A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.
            dt #dowork
            dd
              | Coined by Rob Dyrdek and his personal body guard Christopher “Big Black” Boykins, “Do Work” works as a self motivator, to motivating your friends.
            dt Do It Live
            dd
              | I’ll let Bill O’Reilly will
              a(title="We'll Do It Live", href='#') explain
              |  this one.
          h2 Unordered Lists (Nested)
          ul
            li
              | List item one
              ul
                li
                  | List item one
                  ul
                    li List item one
                    li List item two
                    li List item three
                    li List item four
                li List item two
                li List item three
                li List item four
            li List item two
            li List item three
            li List item four
          h2 Ordered List (Nested)
          ol(start='8')
            li
              | List item one -start at 8
              ol
                li
                  | List item one
                  ol(reversed='reversed')
                    li List item one -reversed attribute
                    li List item two
                    li List item three
                    li List item four
                li List item two
                li List item three
                li List item four
            li List item two
            li List item three
            li List item four
          h2 HTML Tags
          p
            | These supported tags come from the WordPress.com code
            a(title='Code', href='#') FAQ
            | .
          p
            strong Address Tag
          address
            | 1 Infinite Loop
            br
            | Cupertino, CA 95014
            br
            | United States
          p
            strong Anchor Tag (aka. Link)
          p
            | This is an example of a
            a(title='Apple', href='#') link
            | .
          p
            strong Abbreviation Tag
          p
            | The abbreviation
            abbr(title='Seriously') srsly
            |  stands for “seriously”.
          p
            strong
              | Acronym Tag (
              em deprecated in HTML5
              | )
          p
            | The acronym
            acronym(title='For The Win') ftw
            |  stands for “for the win”.
          p
            strong Big Tag
            |  (
            em deprecated in HTML5
            | )
          p
            | These tests are a
            big big
            |  deal, but this tag is no longer supported in HTML5.
          p
            strong Cite Tag
          p
            | “Code is poetry.” —
            cite Automattic
          p
            strong Code Tag
          p
            | This tag styles blocks of code.
            br
            pre.
              .post-title {
                tmargin: 0 0 5px;
                tfont-weight: bold;
                tfont-size: 38px;
                tline-height: 1.2;
              }
            br
            |  You will learn later on in these tests that word-wrap: break-word;will be your best friend.
          p
            strong Delete Tag
          <p>This tag will let you <del cite="deleted it">strike out text</del>, but this tag is <em>recommended</em> supported in HTML5 (use the <code>&lt;s&gt;</code> instead).</p>
          p
            strong Emphasize Tag
          p
            | The emphasize tag should
            |
            em italicize
            |
            |
            i text
            | .
          p
            strong Horizontal Rule Tag
          hr
          p
            | This sentence is following a
          p
            strong Insert Tag
          p
            | This tag should denote
            ins(cite='inserted it') inserted
            |  text.
          p
            strong Keyboard Tag
          p
            | This scarcely known tag emulates
            kbd keyboard text
            | , which is usually styled like the
          p
            strong Preformatted Tag
          p This tag is for preserving whitespace as typed, such as in poetry or ASCII art.
          pre.
            \n
          p
            strong Quote Tag
            |  for short, inline quotes
          p
            q Developers, developers, developers...
            |  --Steve Ballmer
          p
            strong Strike Tag
            |  (
            em deprecated in HTML5
            | ) and
            strong S Tag
          p
            | This tag shows
            strike strike-through
            s text
            | .
          p
            strong Small Tag
          p
            | This tag shows
            small smaller
            small  text.
          p
            strong Strong Tag
          p
            | This tag shows
            strong bold
            strong  text.
          p
            strong Subscript Tag
          p
            | Getting our science styling on with H
            sub 2
            | O, which should push the "2" down.
          p
            strong Superscript Tag
          p
            | Still sticking with science and Isaac Newton's E = MC
            sup 2
            | , which should lift the 2 up.
          p
            strong Teletype Tag
            | (
            em obsolete in HTML5
            | )
          p
            | This rarely used tag emulates
            tt teletype text
            | , which is usually styled like the
          p
            strong Underline Tag
            em deprecated in HTML 4, re-introduced in HTML5 with other semantics
          p
            | This tag shows
            u underlined text
            | .
          p
            strong Variable Tag
          p
            | This allows you to denote
            var variables
            | .
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to John Doe') Reply
    li.comment.odd.alt.thread-odd.thread-alt.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://1.gravatar.com/avatar/724f95667e2fbe903ee1b4cffcae3b25?s=42&d=mm&r=g', srcset='http://1.gravatar.com/avatar/724f95667e2fbe903ee1b4cffcae3b25?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn Anonymous User
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-11T23:45:54+00:00')
                | March 11, 2013 at 11:45 pm
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p This user it trying to be anonymous.
          p
            | They used a fake email, so there should be no
            a(href='#', title='Gravatar') Gravatar
            |  associated with it.
            br
            |  They did not speify a website, so there should be no link to it in the comment.
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to Anonymous User') Reply
    li.comment.even.thread-even.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#', rel='external nofollow') Jane Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-12T13:17:35+00:00') March 12, 2013 at 1:17 pm
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p Comments? I love comments!
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to Jane Doe') Reply
    li.comment.odd.alt.thread-odd.thread-alt.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='http://example.org', rel='external nofollow') John Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-14T07:53:26+00:00')
                | March 14, 2013 at 7:53 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p These tests are amazing!
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to John Doe') Reply
    li.comment.even.thread-even.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#', rel='external nofollow') John Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-14T07:56:46+00:00') March 14, 2013 at 7:56 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p Author Comment.
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to John Doe') Reply
    li.comment.odd.alt.thread-odd.thread-alt.depth-1.parent
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#', rel='external nofollow') John Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-14T07:57:01+00:00')
                | March 14, 2013 at 7:57 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p Comment Depth 01
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to John Doe') Reply
      ol.children
        li.comment.even.depth-2.parent
          article.comment-body
            footer.comment-meta
              .comment-author.vcard
                img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                b.fn
                  a.url(href='#', rel='external nofollow') Jane Bloggs
                |
                |
                span.says says:
              .comment-metadata
                a(href='#')
                  time(datetime='2013-03-14T08:01:21+00:00')
                    | March 14, 2013 at 8:01 am
                span.edit-link
                  a.comment-edit-link(href='#') Edit
            .comment-content
              p Comment Depth 02
            .reply
              a.comment-reply-link(href='#', aria-label='Reply to Jane Bloggs') Reply
          ol.children
            li.comment.odd.alt.depth-3.parent
              article.comment-body
                footer.comment-meta
                  .comment-author.vcard
                    img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                    b.fn
                      a.url(href='#', rel='external nofollow') Fred Bloggs
                    |
                    |
                    span.says says:
                  .comment-metadata
                    a(href='#')
                      time(datetime='2013-03-14T08:02:06+00:00')
                        | March 14, 2013 at 8:02 am
                    span.edit-link
                      a.comment-edit-link(href='#') Edit
                .comment-content
                  p Comment Depth 03
                .reply
                  a.comment-reply-link(href='#', aria-label='Reply to Fred Bloggs') Reply
              ol.children
                li.comment.even.depth-4.parent
                  article.comment-body
                    footer.comment-meta
                      .comment-author.vcard
                        img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                        b.fn
                          a.url(href='#', rel='external nofollow') Fred Bloggs
                        |
                        |
                        span.says says:
                      .comment-metadata
                        a(href='#')
                          time(datetime='2013-03-14T08:03:22+00:00')
                            | March 14, 2013 at 8:03 am
                        span.edit-link
                          a.comment-edit-link(href='#') Edit
                    .comment-content
                      p Comment Depth 04
                    .reply
                      a.comment-reply-link(href='#', aria-label='Reply to Fred Bloggs') Reply
                  ol.children
                    li.comment.odd.alt.depth-5.parent
                      article.comment-body
                        footer.comment-meta
                          .comment-author.vcard
                            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                            b.fn
                              a.url(href='#', rel='external nofollow') Joe Bloggs
                            |
                            |
                            span.says says:
                          .comment-metadata
                            a(href='#')
                              time(datetime='2013-03-14T08:10:29+00:00')
                                | March 14, 2013 at 8:10 am
                            span.edit-link
                              a.comment-edit-link(href='#') Edit
                        .comment-content
                          p Comment Depth 05
                          p Also an author comment.
                    li.comment.even.depth-5.parent
                      article.comment-body
                        footer.comment-meta
                          .comment-author.vcard
                            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                            b.fn
                              a.url(href='#', rel='external nofollow') Jane Bloggs
                            |
                            |
                            span.says says:
                          .comment-metadata
                            a(href='#')
                              time(datetime='2013-03-14T08:12:16+00:00')
                                | March 14, 2013 at 8:12 am
                            span.edit-link
                              a.comment-edit-link(href='#') Edit
                        .comment-content
                          p Comment Depth 06
                    li.comment.odd.alt.depth-5.parent
                      article.comment-body
                        footer.comment-meta
                          .comment-author.vcard
                            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                            b.fn
                              a.url(href='#', rel='external nofollow') Joe Bloggs
                            |
                            |
                            span.says says:
                          .comment-metadata
                            a(href='#')
                              time(datetime='2013-03-14T08:12:58+00:00')
                                | March 14, 2013 at 8:12 am
                            span.edit-link
                              a.comment-edit-link(href='#') Edit
                        .comment-content
                          p Comment Depth 07
                    li.comment.even.depth-5.parent
                      article.comment-body
                        footer.comment-meta
                          .comment-author.vcard
                            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                            b.fn
                              a.url(href='#', rel='external nofollow') Jane Bloggs
                            |
                            |
                            span.says says:
                          .comment-metadata
                            a(href='#')
                              time(datetime='2013-03-14T08:13:42+00:00')
                                | March 14, 2013 at 8:13 am
                            span.edit-link
                              a.comment-edit-link(href='#') Edit
                        .comment-content
                          p Comment Depth 08
                    li.comment.odd.alt.depth-5.parent
                      article.comment-body
                        footer.comment-meta
                          .comment-author.vcard
                            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                            b.fn
                              a.url(href='#', rel='external nofollow') Joe Bloggs
                            |
                            |
                            span.says says:
                          .comment-metadata
                            a(href='#')
                              time(datetime='2013-03-14T08:14:13+00:00')
                                | March 14, 2013 at 8:14 am
                            span.edit-link
                              a.comment-edit-link(href='#') Edit
                        .comment-content
                          p Comment Depth 09
                    li.comment.even.depth-5
                      article.comment-body
                        footer.comment-meta
                          .comment-author.vcard
                            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
                            b.fn
                              a.url(href='#', rel='external nofollow') John Doe
                            |
                            |
                            span.says says:
                          .comment-metadata
                            a(href='#')
                              time(datetime='2013-03-14T08:14:47+00:00')
                                | March 14, 2013 at 8:14 am
                            span.edit-link
                              a.comment-edit-link(href='#') Edit
                        .comment-content
                          p Comment Depth 10
                          p Also an author comment.
    li.comment.odd.alt.thread-even.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#', rel='external nofollow') Jane Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-14T09:56:43+00:00')
                | March 14, 2013 at 9:56 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p Image comment.
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to Jane Doe') Reply
    li.comment.even.thread-odd.thread-alt.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#', rel='external nofollow') John Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-14T11:23:24+00:00')
                | March 14, 2013 at 11:23 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p We are totally going to blog about these tests!
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to John Doe') Reply
    li.comment.odd.alt.thread-even.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#', rel='external nofollow') John Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-14T11:27:54+00:00')
                | March 14, 2013 at 11:27 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p We use these tests all the time! Killer stuff!
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to John Doe') Reply
    li.comment.even.thread-odd.thread-alt.depth-1
      article.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=42&d=mm&r=g', srcset='http://0.gravatar.com/avatar/f72c502e0d657f363b5f2dc79dd8ceea?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn
              a.url(href='#', rel='external nofollow') Jane Doe
            |
            |
            span.says says:
          .comment-metadata
            a(href='#')
              time(datetime='2013-03-14T11:30:33+00:00')
                | March 14, 2013 at 11:30 am
            span.edit-link
              a.comment-edit-link(href='#') Edit
        .comment-content
          p Thanks for all the comments, everyone!
        .reply
          a.comment-reply-link(href='#', aria-label='Reply to Jane Doe') Reply
  .comment-respond
    h2#reply-title.comment-reply-title
      | Leave a Reply
      small
        a(href='#', style='display:none;') Cancel reply
    form.comment-form(action='#')
      p.logged-in-as
        a(href='#', aria-label='Logged in as admin. Edit your profile.') Logged in as admin
        | .
        a(href='#') Log out?
      p.comment-form-comment
        label(for='comment') Comment
        textarea(name='comment', cols='45', rows='8', maxlength='65525', aria-required='true', required='required')
      p.form-submit
        input.submit(name='submit', type='submit', value='Post Comment')
        input(type='hidden', name='comment_post_ID', value='1148')
        input(type='hidden', name='comment_parent', value='0')
      input#_wp_unfiltered_html_comment_disabled(type='hidden', name='_wp_unfiltered_html_comment', value='1615be8f49')
      script.
        (function() {
        if (window === window.parent) {
        document.getElementById('_wp_unfiltered_html_comment_disabled').name = '_wp_unfiltered_html_comment';
        }
        })();
    form.comment-form(action='#', method='post')
      p.comment-notes
        span#email-notes Your email address will not be published.
        |  Required fields are marked
        span.required *
      p.comment-form-comment
        label(for='comment') Comment
        textarea#comment(name='comment', cols='45', rows='8', maxlength='65525', aria-required='true', required='required')
      p.comment-form-author
        label(for='author')
          | Name
          span.required *
        input#author(name='author', type='text', value='', size='30', maxlength='245', aria-required='true', required='required')
      p.comment-form-email
        label(for='email')
          | Email
          span.required *
        input#email(name='email', type='email', value='', size='30', maxlength='100', aria-describedby='email-notes', aria-required='true', required='required')
      p.comment-form-url
        label(for='url') Website
        input#url(name='url', type='url', value='', size='30', maxlength='200')
      p.form-submit
        input#submit.submit(name='submit', type='submit', value='Post Comment')
        input#comment_post_ID(type='hidden', name='comment_post_ID', value='1148')
        input#comment_parent(type='hidden', name='comment_parent', value='0')
