header#header
	.container
		.header-holder
			.logo: a(href="#")
				img(src="images/logo.jpg" alt="CMHC SCHL" width="92" height="42")
			a.header-link(href="#") FRANÇAIS
			a.header-link(href="#") FRANÇAIS