header#header
    .container
        .header-holder
            .logo: a(href="#")
                img(src="images/logo.png" alt="LOGO" width="100" height="20")
            nav#nav
                a(href="#").nav-opener: span Open
                .nav-drop
                    ul.primary-menu
                        li: a(href='#') Page A
                        li: a(href='#') Page B
                        li: a(href='#') Front Page
                        li
                            a(href='#') Level 1
                            ul
                                li
                                    a(href='#') Level 2
                                    ul
                                        li: a(href='#') Level 3a
                                        li: a(href='#') Level 3a
                                        li: a(href='#') Level 3a
                                li: a(href='#') Level 2
                                li: a(href='#') Level 2
                                li: a(href='#') Level 2
                        li: a(href='#') Page Markup And Formatting