.box {
    display: grid;
}

@import './normalize';
@import './fonts';
@import './base';
@import './buttons';
@import './header';



.black:hover {
    background-color: #ccc;
    color: #ff6336;
    transition: all 0.4s;
}

.title {
    background: #fff;
    padding: 130px 0 175px 0;
}

.main-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 530px;
}


.title-wrapp {
    font-size: 16px;
    line-height: calc(35 / 25);
    background: radial-gradient(circle at center, #f00 0%, #f00 29%, #0ff 29%, #0ff 100%);

    @media (min-width:768px) {
        display: flex;
        align-items: center;
        font-size: 25px;
    }
}

h1 {
    font-weight: 600;
    line-height: calc(70 / 65);
    font-size: 36px;
    margin: 0 0 15px;

    @media (min-width:768px) {
        font-size: 45px;
    }

    @media (min-width:992px) {
        font-size: 50px;
        margin: 0 0 20px;
    }

    @media (min-width:1200px) {
        font-size: 65px;
        margin: 0 0 20px;

        @media (min-height:600px) {
            color: #f00;
        }
    }
}

.main-heading p {
    margin-bottom: 50px;
}

.large {
    min-width: 160px;
    padding: 20px 10px;
}

.main-heading .btn-wrapp {
    margin-bottom: 25px;
}

.features {
    font-size: 15px;
    line-height: 18px;
}

.subtitle {
    background: #ff9c7d;
    padding: 108px 0 99px 0;
    margin-bottom: 90px;
}

.subtitle h2 {
    max-width: 720px;
    margin-left: 416px;
    margin-bottom: 70px;
}

h2 {
    margin: auto;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 80px;
}




.brands {
    margin: 0;
    padding: 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-section {
    background: #fff;
    margin-bottom: 150px;
}

.cards-section-wrapp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}

.cards-section-wrapp:last-child {
    margin: 0;
}

.cards-section-wrapp.reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.cards-text h2 {
    max-width: 500px;
    text-align: left;
    margin: -20px 0 43px 0;
}

.cards-text p {
    max-width: 500px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.cards-section a {
    text-decoration: underline;
    color: #000;
}

.cards-section a:hover {
    text-decoration: none;
    color: #ff6336;
    transition: all 0.4s;
}

.cards-span {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.span-link {
    text-decoration: none;
}

.lokalise {
    background: #fff8e4;
    padding: 120px 117px 75px 126px;
}

.lokalise a {
    color: #000;
}

.lokalise a:hover {
    text-decoration: none;
    color: #ff6336;
    transition: all 0.4s;
}

.lokalise-box-wrapp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lokalise-box {
    width: 33%;
    text-align: center;
    margin-bottom: 75px;
}

.lokalise-box p {
    font-size: 18px;
    line-height: 25px;
    max-width: 330px;
    margin: 0 auto;
}

.sub-lokalise {
    background: #fff;
    padding: 154px 0 187px 0;
}

.sub-lokalise-wrapp {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.sub-lokalise a {
    color: #000;
}

.sub-lokalise a:hover {
    color: #ff6336;
    transition: all 0.4s;
}

.chief-info {
    background: #c9e8f2;
    padding: 53px 0 105px 0;
}

.chief-info-wrapp {
    display: flex;
}

.span-chief {
    display: block;
    padding-bottom: 10px;
}

.managment {
    display: flex;
    justify-content: space-between;
    background: #dabc98;
    padding: 90px 75px 88px 54px;
}

.managment-wrapp {
    align-items: center;
    display: flex;
}

.managment-wrapp_2 {
    align-items: center;
    display: flex;
}

.managment-wrapp a:first-child {
    padding-right: 60px;
}

.managment-wrapp_2 a:first-child {
    padding-right: 50px;
}

.managment-wrapp h3 {
    position: relative;
    max-width: 461px;
    font-size: 35px;
    line-height: 50px;
}

.managment-wrapp h3:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 168px;
    background-color: #000;
    left: 590px;
    top: -35px;
}

.integrate-lokalise {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 165px 0;
    text-align: center;
}

.integrate-lokalise h1 {
    max-width: 750px;
    font-size: 56px;
    line-height: 75px;
    margin-bottom: 0;
}

.integrate-lokalise p {
    max-width: 590px;
    margin: 0 0 25px 0;
}

.big {
    padding: 21px 20px;
}

.try-it-free {
    padding: 119px 161px;
    background: #ff9c7d;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.black {
    color: #fff;
    background: #000;
}

.try-it-free h2 {
    max-width: 700px;
    margin: 0 0 30px 0;
}

.try-it-free span {
    margin-bottom: 54px;
}

#footer {
    background: #eeeeee;
}

#footer a:hover {
    color: #ff6336;
    transition: all 0.4s;
}

.footer-wrapp {
    border-bottom: 1px solid #000000;
    padding: 95px 0 95px 0;
}

.case-studies-wrapp {
    max-width: 300px;
}

.footer-wrapp {
    display: flex;
    justify-content: space-between;
}

.footer-wrapp h4 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 28px 0;
}

.footer-img {
    display: inline-block;
    padding-bottom: 30px;
}

#footer a span {
    text-decoration: none;
    color: #000;
}

.footer-span {
    font-weight: 600;
}

.footer-list-wrapp {
    display: flex;
    align-content: flex-end;
}

.footer-list-wrapp ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-wrapp li {
    padding-left: 50px;
}

.footer-list-wrapp ul li:first-child {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 20px;
}

.footer-list-wrapp ul li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
}

.footer-lokalise {
    padding: 50px 0 47px 0;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
}

.footer-lokalise span {
    font-size: 12px;
    line-height: 15px;
}

.footer-logo-wrapp {
    display: flex;
    align-items: center;
}

.footer-logo-wrapp span {
    max-width: 450px;
    padding-left: 15px;
}

.footer-reserved-wrapp {
    display: flex;
    flex-direction: column;
}