<header id="header">
	<div class="container">
		<div class="header-holder">
			<div class="logo">
				<a href="#"><img src="images/logo.png" alt="LOGO" width="333"></a>
			</div>
			<nav id="nav">
				<div class="nav-drop">
					<ul class="primary-menu">
						<li><a href="#">Boxspringbett konfigurieren</a></li>
						<li><a href="#">Zubehör</a></li>
						<li><a href="#">Kontakt</a></li>
						<li><a href="#">Kontakt</a></li>
						<li><a href="#">Kontakt</a></li>
					</ul>
				</div>
			</nav>
			<a href="#" class="nav-opener"><span></span></a>
		</div>
	</div>
</header>