include ./pug/common/_head
	block content
		include ./pug/common/_header
		main#main
			section.jumbotron
				.container
					h1 Lorem, ipsum dolor.
					h1 Lorem, ipsum dolor.
					h1 Lorem, ipsum dolor.
					p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique. 
			include ./pug/template/_form
		include ./pug/common/_footer