<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>New_maket</title>
</head>

<body>
    <div id="wrapper">
        <header id="header">
            <div class="logo-wrapp">
                <a href="#">
                    <img class="logo" src="images/logo.png" alt="logo" />
                </a>
                <ul class="header-menu">
                    <li class="list-item1">
                        <a href="#">Product</a>
                    </li>
                    <li class="list-item2">
                        <a href="#">Features</a>
                    </li>
                    <li class="list-item3">
                        <a href="#">Pricing</a>
                    </li>
                    <li class="list-item4">
                        <a href="#">Case studies</a>
                    </li>
                    <li class="list-item5">
                        <a href="#">Resources</a>
                    </li>
                </ul>
            </div>
            <ul class="btn-wrapp">
                <li>
                    <a class="btn white small" href="#">Log in</a>
                </li>
                <li>
                    <a class="btn orange small" href="#">Try it free</a>
                </li>
            </ul>
        </header>
        <main>
            <div class="title">
                <div class="container">
                    <div class="title-wrapp">
                        <div class="main-heading">
                            <h1>Accelerate localization from code to delivery</h1>
                            <p>
                                A localization and translation management platform for agile teams. Embrace
                                automation, workflow transparency, and fast project delivery.
                            </p>
                            <ul class="btn-wrapp">
                                <li>
                                    <a class="btn large orange" href="#">Try it free</a>
                                </li>
                                <li>
                                    <a class="btn large white" href="#">Book a demo</a>
                                </li>
                            </ul>
                            <span class="features"> Try all features for 14 days · No credit card required </span>
                        </div>
                        <div class="title__visual">
                            <img class="main-img" src="images/title-img.svg" alt="title" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="subtitle">
                <h2>The preferred localization tool of 1500+ companies</h2>
                <div class="container">
                    <ul class="brands">
                        <li>
                            <a href="#">
                                <img src="images/specialized.svg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/virgin.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/tidal.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/revolt.svg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/yelp.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/daimler.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cards-section">
                <div class="container">
                    <div class="cards-section-wrapp">
                        <div class="cards-text">
                            <h2>Control the localization process</h2>
                            <p>
                                Collaborate with your team in a single workspace. Add and assign
                                <a href="#">tasks</a>, track progress, and enjoy a seamless localization workflow
                                where you know who is doing what and when.
                            </p>
                            <a href="#">
                                <span class="cards-span">Start now</span>
                            </a>
                        </div>
                        <div class="cards-img">
                            <a href="#">
                                <img src="images/project-app.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="cards-section-wrapp reverse">
                        <div class="cards-text">
                            <h2>Shorten time to market</h2>
                            <p>
                                Localize your product in parallel with the development cycle. Use the
                                <a href="#">Adobe XD</a>,<a href="#">Figma</a> , and <a href="#">Sketch</a> plugins
                                to start working on translations as soon as the product design is ready. No more
                                idle waiting.
                            </p>
                            <a class="span-link" href="#">
                                <span class="cards-span">Start now</span>
                            </a>
                        </div>
                        <div class="cards-img">
                            <a href="#">
                                <img src="images/card-logo2.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="cards-section-wrapp">
                        <div class="cards-text">
                            <h2>Ensure quality</h2>
                            <p>
                                Use built-in tools — e.g.<a href="#">translation memory</a>, machine translation,
                                and <a href="#">QA checks</a> — to enhance the quality and cohesion of translations.
                                Add product <a href="#">screenshots </a>for context and use the
                                <a href="#">in-context editors</a>
                                for instant previews.
                            </p>
                            <a href="#">
                                <span class="cards-span">Start now</span>
                            </a>
                        </div>
                        <div class="cards-img">
                            <a href="#">
                                <img src="images/card-logo3.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="cards-section-wrapp reverse">
                        <div class="cards-text">
                            <h2>Less work for developers</h2>
                            <p>
                                Eliminate the hassle of localization and let developers get back to their main
                                tasks. Save hours with the powerful <a href="#">API</a>, <a href="#">CLI</a>, a
                                <a href="#">mobile SDKs</a>, and integrations with <a href="#">GitHub</a>,
                                <a href="#">Bitbucket</a>, <a href="#">JIRA</a>, and more.
                            </p>
                            <a href="#">
                                <span class="cards-span">Start now</span>
                            </a>
                        </div>
                        <div class="cards-img">
                            <a href="#">
                                <img src="images/card-logo4.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lokalise">
                <h2>What can you localize with Lokalise?</h2>
                <div class="lokalise-box-wrapp">
                    <div class="lokalise-box">
                        <a class="lokalise-link" href="#">
                            <img src="images/lokalise-img-1.svg" alt="" class="lokalise-img" />
                        </a>
                        <h3>Web apps</h3>
                        <p>Any kind of web apps — backend, frontend, single page, blogs — you name it.</p>
                    </div>
                    <div class="lokalise-box">
                        <a class="lokalise-link" href="#">
                            <img src="images/lokalise-img-2.svg" alt="" class="lokalise-img" />
                        </a>
                        <h3>Mobile apps</h3>
                        <p>
                            Upload any mobile platform language files. Embed <a href="#">Lokalise iOS SDK</a> or
                            <a href="#">Lokalise Android SDK</a>
                            if you prefer.
                        </p>
                    </div>
                    <div class="lokalise-box">
                        <a class="lokalise-link" href="#">
                            <img src="images/lokalise-img-3.svg" alt="" class="lokalise-img" />
                        </a>
                        <h3>Games</h3>
                        <p>Our cloud software is trusted by many leading game developers around the world.</p>
                    </div>
                    <div class="lokalise-box">
                        <a class="lokalise-link" href="#">
                            <img src="images/lokalise-img-4.svg" alt="" class="lokalise-img" />
                        </a>
                        <h3>Documents</h3>
                        <p>Upload your DOCX and static HTML files.</p>
                    </div>
                    <div class="lokalise-box">
                        <a class="lokalise-link" href="#">
                            <img src="images/lokalise-img-5.svg" alt="" class="lokalise-img" />
                        </a>
                        <h3>Marketing e-mails</h3>
                        <p>Integrate with Salesforce Marketing Cloud (coming soon) or translate static e-mails.</p>
                    </div>
                    <div class="lokalise-box">
                        <a class="lokalise-link" href="#">
                            <img src="images/lokalise-img-6.svg" alt="" class="lokalise-img" />
                        </a>
                        <h3>IoT</h3>
                        <p>We support most popular localization file formats.</p>
                    </div>
                </div>
            </div>
            <div class="sub-lokalise">
                <div class="container">
                    <h2>Boost your localization team’s productivity tenfold</h2>
                    <div class="sub-lokalise-wrapp">
                        <div class="sub-lokalise-box">
                            <a href="#">
                                <img src="images/sub-lokalise-img1.svg" alt="" class="sub-lokalise-img" />
                            </a>
                            <h3>Managers</h3>
                            <p>
                                Update existing and launch new features and products while simultaneously localizing
                                them in multiple languages. Streamline your team's workflow, maximize productivity,
                                and speed up expansion to other markets.
                            </p>
                            <a class="sub-lokalise-link" href="#">Learn more</a>
                        </div>
                        <div class="sub-lokalise-box">
                            <a href="#">
                                <img src="images/sub-lokalise-img2.svg" alt="" class="sub-lokalise-img" />
                            </a>
                            <h3>Developers</h3>
                            <p>
                                Set up an integration with your code repository or your own custom SDK via
                                Lokalise's powerful API. Do that once, and every time you make changes in the code,
                                they'll be automatically imported to Lokalise for translation.
                            </p>
                            <a class="sub-lokalise-link" href="#">Learn more</a>
                        </div>
                        <div class="sub-lokalise-box">
                            <a href="#">
                                <img src="images/sub-lokalise-img3.svg" alt="" class="sub-lokalise-img" />
                            </a>
                            <h3>Translators</h3>
                            <p>
                                Eliminate double-work and neverending revisions with visual context (screenshots)
                                and live previews. Improve the quality and speed of your translations with built-in
                                CAT tools, like autocomplete, inline machine translation, and translation memory.
                            </p>
                            <a class="sub-lokalise-link" href="#">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chief-info">
                <div class="container">
                    <div class="chief-info-wrapp">
                        <div class="chief-info-text">
                            <p>
                                “Lokalise has turned a task we were dreading into an absolute pleasure. Great
                                platform, intuitive UX, powerful API. The automatic text recognition for screenshots
                                has been a lifesaver, and over-the-air updates are the icing on the cake.”
                            </p>
                            <span class="span-chief">Edward Cooper, Chief Mobile Officer</span>
                            <a href="#">
                                <img src="images/revolt.svg" alt="" class="chief-revolt" />
                            </a>
                        </div>
                        <div class="chief-info-img">
                            <a href="#">
                                <img src="images/chief-photo.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="managment">
                <div class="managment-wrapp">
                    <a href="#">
                        <img src="images/pie.svg" alt="" class="managment-pie" />
                    </a>
                    <h3>The most-loved translation management software</h3>
                </div>
                <div class="managment-wrapp_2">
                    <a href="#">
                        <img class="users_love_us" src="images/users_love_us.svg" alt="" />
                    </a>
                    <a href="#">
                        <img class="captera" src="images/capterra.svg" alt="" />
                    </a>
                </div>
            </div>
            <div class="integrate-lokalise">
                <h1>Integrate Lokalise with your work tools</h1>
                <p>Automate processes, eliminate routine tasks, and track progress with ease.</p>
                <a href="">
                    <img class="integrate" src="images/integrate.svg" alt="" />
                </a>
                <a class="btn big orange" href="#">See all integrations</a>
            </div>
            <div class="try-it-free">
                <h2>Localization made easy. Why wait?</h2>
                <span>Try for free or let us show you how it works.</span>
                <a class="btn large black" href="">Try it free</a>
            </div>
        </main>
        <footer id="footer">
            <div class="container">
                <div class="footer-wrapp">
                    <div class="case-studies-wrapp">
                        <h4>Case Studies</h4>
                        <a href="#">
                            <img class="footer-img" src="images/footer-img.jpg" alt="" />
                        </a>
                        <a href="#">
                            <img class="footer-specialized-img" src="images/specialized.svg" alt="" />
                        </a>
                        <p>Riding towards global success with a 100% teammate enthusiasm</p>
                        <a href="#">
                            <span class="footer-span">Read more</span>
                        </a>
                    </div>
                    <div class="footer-list-wrapp">
                        <ul>
                            <li>
                                <a href="#">Product</a>
                            </li>
                            <li>
                                <a href="#">For developers</a>
                            </li>
                            <li>
                                <a href="#">For managers</a>
                            </li>
                            <li>
                                <a href="#">For translators</a>
                            </li>
                            <li>
                                <a href="#">For designers</a>
                            </li>
                            <li>
                                <a href="#">Integrations</a>
                            </li>
                            <li>
                                <a href="#">Security</a>
                            </li>
                            <li>
                                <a href="#">Pricing</a>
                            </li>
                            <li>
                                <a href="#">Automations</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Documentation</a>
                            </li>
                            <li>
                                <a href="#">Status</a>
                            </li>
                            <li>
                                <a href="#">Product Updates</a>
                            </li>
                            <li>
                                <a href="#">CLI Tool</a>
                            </li>
                            <li>
                                <a href="#">API Reference</a>
                            </li>
                            <li>
                                <a href="#">iOS and Android SDK</a>
                            </li>
                            <li>
                                <a href="#">Supported File Formats</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Company</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Careers | We`re Hiring</a>
                            </li>
                            <li>
                                <a href="#">Case Studies</a>
                            </li>
                            <li>
                                <a href="#">Media Kit</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Legal</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Cookie Policy</a>
                            </li>
                            <li>
                                <a href="#">Privacy Shield</a>
                            </li>
                            <li>
                                <a href="#">DPA</a>
                            </li>
                            <li>
                                <a href="#">List of Sub-processors</a>
                            </li>
                            <li>
                                <a href="#">Candidates Privacy Notice</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-lokalise">
                    <div class="footer-logo-wrapp">
                        <a href="#">
                            <img class="footer-logo" src="images/footer-logo.svg" alt="" />
                        </a>
                        <span>Localization workflow for your web and mobile apps, games and digital content.</span>
                    </div>
                    <div class="footer-reserved-wrapp">
                        <span>©2001-2020</span>
                        <span>All rights reserved.</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>