// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors

// -----------------------------------------------------------------------------
// This file contains all styles related to the form elements of the site
// -----------------------------------------------------------------------------

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  @include transition(border-color);
  border: 1px solid currentColor;
  background-color: transparent;
  width: 100%;
  min-width: 0;
  padding: 1.2rem 2.4rem;
  border-radius: 0;
  -webkit-appearance: none;

  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
  }
}
